.news-item-container {
    padding: 20px;
    margin-bottom: 20px;
  }

.news-item-container img {
    width: min(90%, 400px);
    height: auto;
  }

  @media (max-width: 600px) {
    .news-item-container {
      /* center it */
      width: auto;
      
    }
  }